@model (List<dgPadCmsNew.Models.Taxonomy> taxonomies, List<dgPadCmsNew.Models.Post> posts)

@{
    ViewData["Title"] = "Art";
}

<div class="m-2">
    <div class="row">

        <div class="col-9">
            <div class="row">
                
                
                    <div class="col-4">

                        <div class="post-item">
                            <div class="post-title">
                                Mona Lisa
                            </div>

                            <div class="post-img">
                                <img src="~/img/Mona-Lisa.jpeg" />

                            </div>
                            <div>
                                <p>
                                    Artist: Leonardo da Vinci
                                    Estimated date: 1503 to 1519
                                    Where to see it: Louvre Museum (Paris)
                                    It should come as no surprise that the most famous painting in the world is that mysterious woman with the enigmatic smile. But that's one of the few certainties about this work of art.
                                    The sitter in the painting is thought to be Lisa Gherardini, the wife of Florence merchant Francesco del Giocondo, but experts aren't sure. It did represent an innovation in art -- the painting is the earliest known Italian portrait to focus so closely on the sitter in a half-length portrait, according to the Louvre, where it was first installed in 1804.
                                </p>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-4">

                        <div class="post-item">
                            <div class="post-title">
                               Rami : The rising social media's comedy star
                            </div>

                            <div class="post-img">
                                <img src="~/img/Rami.jpeg" />
                            </div>

                            <div class="post-summary">
                                <p>
                                    With the new season of Ramy receiving rave reviews, and the recent success of Mo, which stars Mo Amer as the first Palestinian lead character on American television, Arab comedy is enjoying a renaissance.

                                    The effect can be seen across the comedy landscape and particularly among an emerging group of Arab comedians who have been carving out large audiences through social media platforms.

                                    While the pandemic had a devastating effect on live comedy, it created a unique set of opportunities for some tech-savvy, aspiring comedians. Many Arab comedians saw their popularity soar during the ensuing restrictions as social media sites TikTok and Instagram offered a reprieve from the doom and gloom.

                                    “During Covid, I stayed home and decided to create an Instagram page detailing the daily doings of my daughter and myself in a realistic way,” says Syrian influencer Dima Mousseli, who lives in Dubai.

                                    Mousseli has almost half a million followers on Instagram. "I was tired of all the perfection shown by mummy bloggers, and I used to feel guilty whenever I used to see a mum who seemed to have it all.

                                    “I wanted to do something in my way, using my voice that reflects the ordinary mum life. I also decided to compare how Arabs and non-Arabs deal with parenting.”
                                </p>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>