@model (List<dgPadCmsNew.Models.Taxonomy> taxonomies, List<dgPadCmsNew.Models.Post> posts)

@{
    ViewData["Title"] = "Fashion";
}

<div class="m-2">
    <div class="row">

        <div class="col-9">
            <div class="row">





                <div class="col-4">

                    <div class="post-item">
                        <div class="post-title">
                            Finland wants to transform how we make clothes
                        </div>

                        <div class="post-img">

                            <img src="~/img/Petri.jpeg" />

                        </div>
                        

                        <div>
                            <p>
                                Petri Alava used to wear pressed suits and leather shoes to work, managing large corporations selling everything from magazines to gardening equipment.

                                Now he runs a Finnish start-up where socks are the norm on the office floor, and he proudly sports a round-neck T-shirt spun from recycled clothing fibres, tucked into some baggy shorts.

                                His firm, Infinited Fiber, has invested heavily in a technology which can transform textiles that would otherwise be burned or sent to landfills, into a new clothing fibre.

                                Called Infinna, the fibre is already being used by global brands including Patagonia, H&M and Inditex, which owns Zara. "It's a premium quality textile fibre, which looks and feels natural - like cotton," says Mr Alava, rubbing his own navy blue tee between his fingers. "And it is solving a major waste problem."

                                Around the world, an estimated 92 million tonnes of textiles waste is created each year, according to non-profit Global Fashion Agenda, and this figure is set to rise to more than 134 million tonnes by 2030, if clothing production continues along its current track.

                                <br />
                                To the untrained eye, samples of Infinited Fiber's recycled fibre resemble lambswool; soft, fluffy and cream coloured. Mr Alava explains that the product is produced through a complex, multi-step process which starts with shredding old textiles and removing synthetic materials and dyes, and ends with a new fibre, regenerated from extracted cellulose.

                                This finished fibre can then simply "hop into the traditional production processes" used by High Street brands, replacing cotton and synthetic fibres, to produce everything from shirts and dresses to denim jeans.

                                Much of the science involved in making the fibre has been around since the 1980s, says Mr Alava, but rapid technological advancements in the last few years have finally made large-scale production a more realistic possibility.

                                In parallel, he believes High Street brands have become more focused on "really honestly looking for changing their material usage", while millennial and Gen Z consumers are increasingly concerned about shopping sustainably. "They are different animals, different consumers, to people my age," he laughs.
                            </p>
                        </div>

                    </div>
                </div>

                

            </div>
        </div>
    </div>
</div>