@model (List<dgPadCmsNew.Models.Taxonomy> taxonomies, List<dgPadCmsNew.Models.Post> posts)

@{
    ViewData["Title"] = "Health";
}


<div class="m-2">
    <div class="row">

        <div class="col-9">
            <div class="row">


                <div class="col-4">

                    <div class="post-item">
                        <div class="post-title">
                            Cholera in Lebanon?
                        </div>

                        <div class="post-img">
                            <img src="~/img/health.jpg" />

                        </div>
                        <div>
                            <p>
                                Lebanon's health minister said on Friday that authorities are inspecting suspected cases of cholera, less than a day after the cash-strapped country confirmed its first case of the illness since 1993.

                                The news came almost a month after an outbreak of the illness in neighboring war-torn Syria.

                                Firas Abiad, Lebanon's caretaker health minister, said in a press conference that the first case was a middle-aged Syrian refugee man living in the impoverished northern province of Akkar, and confirmed a second case in the area.

                                "There are several other suspected cases," Abiad said. "Cholera is an illness that is easily transmissible."

                                The developments take place as Lebanon's economy continues to spiral, plunging three-quarters of its population into poverty. Rampant power cuts, water shortages, and skyrocketing inflation have deteriorated living conditions for millions.

                                The Lebanese health minister added that the authorities have been working with the United Nations Children's Fund and World Health Organization for weeks to ensure the cash-strapped country can respond to a possible outbreak, and expand testing capacities at hospitals and labs.

                                "We're making sure that there is safe water and a good sewage system," Abiad said.

                                According to the WHO, a cholera infection is caused by consuming food or water infected with the Vibrio cholerae bacteria, and while most cases are mild to moderate, not treating the illness could lead to death.

                                About 1 million Syrian refugees who fled their country's civil war reside in neighboring Lebanon. Most live in extreme poverty in tented settlements or in overcrowded apartments.

                                Poverty has also deepened for many Lebanese, with many families often rationing water, unable to afford private water tanks for drinking and domestic use.

                                The health minister said Lebanon has secured the necessary equipment and medicines to treat patients.

                                Richard Brennan, Regional Emergency Director of the WHO Eastern Mediterranean Region told The Associated Press Thursday that the organization has also been coordinating with other countries neighboring Syria to help respond to a possible outbreak.

                                However, he said vaccines are in short supply due to global demand.

                                The U.N. and Syria's Health Ministry have said the source of the outbreak is likely linked to people drinking unsafe water from the Euphrates River and using contaminated water to irrigate crops, resulting in food contamination.

                                Syria's health services have suffered heavily from its years-long war, while much of the country is short on supplies to sanitize water.

                                Syrian health officials as of Wednesday documented at least 594 cases of cholera and 39 deaths. Meanwhile, in the rebel-held northwest of the country, health authorities documented 605 suspected cases, dozens of confirmed cases, and at least one death.
                            </p>
                        </div>

                    </div>
                </div>

                <div class="col-4">

                    <div class="post-item">
                        <div class="post-title">
                          World's Mental Health Day
                        </div>

                        <div class="post-img">


                            <img src="~/img/H.jpeg" />
                        </div>

                        <div class="post-summary">
                            <p>
                                World Mental Health Day, marked on 10 October every year, provides an opportunity to draw attention to Africa’s large and growing burden of mental health conditions, with children and adolescents worst impacted.

                                This year’s theme, “Make Mental Health and Wellbeing for All a Global Priority”, serves as a reminder that, after nearly three years, the social isolation, fear of disease and death, and strained socio-economic circumstances associated with the COVID-19 pandemic have contributed to an estimated 25% global rise in depression and anxiety.

                                Across the African Region, more than 116 million people were already estimated to be living with mental health conditions pre-pandemic. Suicide rates remain particularly concerning, as are the exponential rates of alcohol use and abuse among adolescents as young as 13 years of age. We need to urgently strengthen regulatory systems to close the gaps that allow such young people to easily access alcohol, contributing to heavy episodic drinking rates as high as 80% among teens from 15 to 19. The situation poses a serious threat to their education, while setting the stage for a lifetime of alcohol abuse, and the associated risks of noncommunicable and other related diseases.

                                Inadequate financing for mental health continues to be the biggest limitation, negatively impacting efforts to expand Africa’s mental health workforce. As things stand, there are fewer than two mental health workers for every 100 000 people, the majority of whom are psychiatric nurses and mental health nursing aids. With these scarce resources concentrated at large psychiatric institutions in urban areas, people at community and primary care levels are left critically underserved. For example, while two-thirds of Member States report having guidelines to integrate mental health into primary health care, fewer than 11% are providing pharmacological and/or psychological interventions at this level.

                                It is however heartening that up to 82% of our Member States are receiving training on how to manage mental health conditions at primary care level, with up to 74% reporting that specialists are involved in providing appropriate training and supervision to primary health care professionals. African governments have also made some progress on mental health spending, which has risen to 46 US cents per person. But that is still well below the recommended US$2 per person, with mental health not featuring in national health insurance schemes.

                                To address the challenge, it is crucial that Member States follow through on the implementation of commitments they made at the Regional Committee in August 2022, when they endorsed the Framework to Implement the Comprehensive Global Action Plan 2013 to 2023 in the WHO African Region. This key document highlights the severe shortage of mental health services on the continent, and makes recommendations for key actions by Member States.
                                Among the developments of which Member States can be proud is the launch of Special Initiative for Mental Health frameworks by Ghana and Zimbabwe. Supported by WHO training, the aim is to strengthen relevant services at lower levels of care.

                                WHO in the African Region is also supporting task-sharing and integration of mental health into multisectoral programmes in Burkina Faso, Ethiopia, Ghana, Niger, Nigeria and Mali. Examples include joint tuberculosis and mental health programming in Ghana and Kenya, and joint Neglected Tropical Diseases and mental health efforts in Nigeria.

                                Additionally, Kenya, Uganda and Zimbabwe have been supported to complete mental health investment cases. These provide a valuable base from which to make the case for increased investment in this neglected aspect of our health systems.

                                To advance continental efforts towards equitable access to mental, neurological and substance abuse care, I want to take the opportunity today to urge Member States to prioritise the implementation of the Framework to Implement the Comprehensive Mental Health Action Plan in the WHO African Region. This requires, among other things, increasing government expenditure on relevant services, and mobilising resources from partners.

                                Countries especially need to strengthen the mental health and psychosocial response in humanitarian emergencies, including COVID-19 and Ebola, which have a significant negative impact on school-age children and our health care workers. Mental health and psychosocial support are integral to any successful response.

                                On World Mental Health Day today, let us all commit to work together to deepen the value we afford to mental health, to reshape the environments that negatively impact mental health, and to strengthen the care systems to make mental health care accessible to all Africans.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
