
@model (List<dgPadCmsNew.Models.Taxonomy> taxonomies, List<dgPadCmsNew.Models.Post> posts)

@{
    ViewData["Title"] = "Sports";
}

          <div class="m-2">
                    <div class="row">

                        <div class="col-9">
                            <div class="row">


                                <div class="col-4">

                                    <div class="post-item">
                                        <div class="post-title">
                                            Ronald Araujo to have surgery on Wednesday
                                        </div>

                                        <div class="post-img">

                                            <img src="~/img/injury.jpg" />

                                        </div>
                                        <div>
                                            <p>
                                                The first barcelona team player Ronald Araujo will undergo surgery on Wednesday for the adductor longus tendon avulsion he has in his right thigh. The operation will be carried out by Dr. Lasse Lempainen, under the supervision of the Club’s medical staff, in Turku, Finland. When the operation is completed there will be another medical statement.

                                                The injury was sustained by the player on international duty during the game between Iran and Uruguay in which the player was forced off the field after five minutes of the match. Ronald Araujo has made seven appearances for the first team in the current 2022/23 season.
                                            </p>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-4">

                                    <div class="post-item">
                                        <div class="post-title">
                                            The youngest player in NBA
                                        </div>

                                        <div class="post-img">

                                            <img src="~/img/jalen.jpg" />
                                        </div>

                                        <div class="post-summary">
                                            <p>
                                                When it comes to teenage jobs, it doesn’t get much tougher than competing against the best basketball players in the world.W

                                                Every year, a handful of teenagers enter the NBA. Years before they are allowed to have a legal drink in the U.S., those young players are thrown into the spotlight in front of full arenas and a national audience.
                                                <br />
                                                Jalen Duren is entering the 2022-23 season as the youngest player in the NBA. Drafted by the Detroit Pistons with the 13th overall pick in the 2022 draft, Duren is currently 18 years old.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                        
